@{
    ViewData["Title"] = "About";
}

<div class="layui-col-md12">
    <div class="layui-card">
        <div class="layui-card-header">@ViewData["Title"]</div>
        <div class="layui-card-body">
            <h3>@ViewData["Message"]</h3>
            <p>Use this area to provide additional information.</p>
        </div>
    </div>
</div>
